---
permalink: /platforms/
layout: layouts/home.njk
---
<h1>Platforms</h1>

<ul>
{% for platform in collections.platformList %}
  {% set platUrl %}/platforms/{{ platform }}/{% endset %}
  <li><a href="{{ platUrl | url }}"> {{ platform }} </li>
{%- endfor -%}
</ul>
