<!doctype html>
<html lang="en">
  <head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#FFFFFF">
<link rel="manifest" href="manifest.json" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker
      .register("/service-worker.js")
      .then(function() {
        console.log("ServiceWorker has been registered!");
      })
      .catch(console.error);
  }
</script>
    <style>

      body {
        background-color: #F5F5F5;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 0.9rem
      }

      header{
        font-size: 2.5rem;
        font-style: italic;
        color: #000000;
      }

      header a{
        text-decoration: none;
        color: #000000;
      }

      header a:hover{
        text-decoration: underline;
      }

      .gamelist-item{
        background-color: #ffffff;
        border-bottom: 1px solid #dee2e6;
      }

      .data-container{
          padding: 0.5rem;
      }

      .gamelist-item a{
        text-decoration: none;
        color: #000000;
        font-weight: 600;
        font-size: 1.2rem;
      }

      .gamelist-item a:hover{
        text-decoration: underline;
      }

      .gamelist-link{
        height: 100%;
      }

      .btn-data{
        font-size: 1.5rem;
      }

      .game-type{
        font-size: 0.75rem;
        color: #6c757d;
      }

      .btn-red{
        border: 1px solid #dc3545;
        color: #dc3545;
      }

      .btn-green{
        border: 1px solid #186329;
        color: #186329;
      }

      .btn-blue{
        border: 1px solid #0C616E;
        color: #0C616E;
      }

      .btn-red:hover{
        border: 1px solid #dc3545;
        background-color: #dc3545;
        color: #ffffff;
      }

      .btn-green:hover{
        border: 1px solid #186329;
        background-color: #186329;
        color: #ffffff;
      }

      .btn-blue:hover{
        border: 1px solid #0C616E;
        background-color: #0C616E;
        color: #ffffff;
      }

      button {
        background-color: #ffffff;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border-radius: 3px;
        padding: 0.5rem;
        margin-top: 0.25rem;
        margin-right: 0.25rem;
      }

      .btn-header{
        margin-bottom: 0;
        font-weight: 600;
      }

      .game-description{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }

      main {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;
      }

      .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .column {
        flex-basis: 100%;
      }

      .thumbnail {
        max-width: 100%;
        max-height: 100%;
      }

      .header-img{
        max-width: 300px !important;
      }

      .searchbar {
        width: 99%;
        font-size: 1rem;
        height: 1.5rem;
        padding-left: 0.5rem;
      }

      @media screen and (min-width: 800px) {
        aside {
          flex: 2.5;
        }
        article {
          flex: 7.5;
        }

        ._1 {
          flex: 0.96;
        }
        ._25 {
          flex: 2.5;
        }

        ._5{
          flex: 5;
        }

        ._75 {
          flex: 7.5;
        }

        ._9 {
          flex: 9;
        }

        .data-container{
            margin-left: 0.5vw;
        }
      }

      .gamelist {
        list-style: none;
        padding-left: 0;
      }

    </style>
    <title>Smashesque</title>
    <meta name="description" content="Smashesque: For games like Super Smash Bros!"/>
  </head>
  <body>
    <main id="main">
      <header><a href="/">
        <img class="header-img" src="/games/img/logo.png" alt="Smashesque"></img>
      </a>
      </header>
      <section>
        {{ content | safe }}
      </section>
    </main>
  </body>
