---
layout: layouts/base.njk
---
<article class="game">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="column _75">
      <p class="game-description">{{ longdescription }}</p>

      <h1>Gameplay Video:</h1>
      <iframe width="560" height="315" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column _25">
      <img class="thumbnail" src="{{ img | url }}" alt="{{ title }}"></img>
      <div class="row">
        <p class="btn-header">Max players: &nbsp;
        </p>
        <button class="btn btn-red">{{ maxplayers }}</button>
      </div>
      <div class="row">
        <p class="btn-header">Roster size: &nbsp;</p>
        <button class="btn btn-red">{{ rostersize }}
        </div>
        <div class="row">
          <p class="btn-header">Platforms: &nbsp;</p>
          {% for platform in platforms %}
            <button class="btn btn-blue">{{ platform }}</button>
          {% endfor %}
        </div>
        <div class="row">
          <p class="btn-header">Tags: &nbsp;</p>
          {% for tag in tags %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          {% if tag != 'game' %}
            <a href="{{ tagUrl }}"><button class="btn btn-green">{{ tag }}</button></a>
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
    {{ content | safe}}
  </article>

  <p class="game-back-link">
    <a href="/">← Back to games</a> | Want to make a change or correction? <a href="https://gitlab.com/KoaBrook/smashesque-eleventy/-/edit/master/{{ page.inputPath }}">Click here to edit this page</a>!
  </p>
